<div id="<%= dom_id traffis_project %>">
  <p>
    <strong>Title:</strong>
    <%= traffis_project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= traffis_project.description %>
  </p>

</div>
